@page "{questionTypeId:int}"
@model IT420.Pages.Experts.AskQuestionModel
@{
}

<h2>Ask an Expert a Question</h2>

<form method="post">
    <input type="hidden" asp-for="@Model.Question.id" />
    <input type="hidden" asp-for="@Model.Question.typeId" value="@Model.Type.id" />
    <div class="form-group">
        <label asp-for="@Model.Question.question"></label>
        <textarea asp-for="@Model.Question.question" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="@Model.Question.question"></span>
    </div>
    <button type="submit"class="btn btn-primary">Submit</button>
    <a class="btn btn-primary" asp-page="./QuestionList" asp-route-questionTypeId="@Model.Type.id">Cancel</a>
</form>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}